@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700,900&family=Poppins:wght@400;500;600;700&display=swap');


.headline-display-xl, .display-txt-xl {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:60px;
    line-height:60px;
}

.headline-display, .display-txt {
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size:40px;
    line-height:44px;
}

.sub-headline-display {
    font-family: "Poppins", sans-serif;
    font-size:18px;
    line-height:24px;
    margin-top:24px;
}

h1, .headline-1 {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:32px;
    line-height:36px;
}

h2, .headline-2 {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:24px;
    line-height:28px;
}

h3, .headline-3 {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:20px;
    line-height:24px;
}

.subtitle-1 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:16px;
    line-height:20px;
}

.subtitle-2 {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:14px;
    line-height:20px;
}

.body-xl {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:24px;
    line-height:24px;
}

.body-lg {
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size:18px;
    line-height:24px;
}

.body-1 {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:16px;
    line-height:20px;
}

.body-2 {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:14px;
    line-height:20px;
}

.button-txt {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:16px;
    line-height:20px;
}

.label-txt {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:12px;
    line-height:20px;
}

.caption-txt {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:12px;
    line-height:20px;
}

.overline-txt {
    font-family: 'Lato', sans-serif;
    font-weight:900;
    font-size:10px;
    line-height:18px;
    text-transform:uppercase;
}

.overline-link {
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size:16px;
    line-height:auto;
}

.num-display {
    font-family: 'Poppins', sans-serif;
    font-weight:500;
    font-size:32px;
    line-height:28px;
}

.num-body {
    font-family: 'Poppins', sans-serif;
    font-weight:600;
    font-size:16px;
    line-height:20px;
    text-transform:uppercase;
}

.helper-txt {
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:10px;
    line-height:12px;
}