input[type="text"],
select {
    &.form-control {
        font-family: 'Lato', sans-serif;
        border-radius:0;
        
        @media only screen and (max-width:767px) {
            padding:14px 16px !important;
            height:unset;
        }
    }
}

.form-group {
    @media only screen and (min-width:768px) {
        margin-bottom:1rem;
    }
    label {
        padding:0 16px;
        font-size:12px;
    }
}

label, .label {
    color:#fff;
    line-height:20px;
    font-weight:700;
    font-family: 'Lato', sans-serif;
}

.socio-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
    

.page-anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}
    