.site-header {
    position: fixed !important;
    background-color:#fff;;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    padding-left:24px;
    padding-right:24px;

    .container-fluid {
        max-width:1500px !important;

        @media only screen and (max-width:991px) {
            padding:0;
        }
    }
    .navbar-toggler {
        height:48px;
        width:48px;
        padding:0;

        .is-closed {
            display:flex !important;
        }

        .is-open {
            display:none;
        }

        &.collapsed {

            .is-closed {
                display:none !important;
            }

            .is-open {
                display:flex !important;
            }
        }
        
        &:focus {
            box-shadow: none;
        }
        // border:1px solid #000;    
    }

    .navbar-brand {
        @media only screen and (min-width:992px) {
            margin-right:40px;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-right:32px;

            @media only screen and (max-width:767px) {
                border-bottom: 1px solid #A5A5A5;
                margin-left:20px;
                margin-right:20px;
            }

            @media only screen and (min-width:768px) { 
                margin-right:16px;
                .nav-link {
                    height:100%;
                    width:100%;
                    padding:.6rem .5rem 0 .5rem;
                }
    
                &:last-child {
                    margin-right:0;
                }
            }




            .main-nav-link {
                &.active {
                    @media only screen and (min-width:768px) {
                        font-weight:bold;
                        text-decoration:underline;
                    }
                }
            }
            
            a {
                color:#000;
            }
        }
    }

    .navbar-client-login {
        display:flex;
        flex-direction:row;

        .client-login-button {
            display:none;

            @media only screen and (min-width:992px) {
                padding:4px 16px;
                display: flex;
                align-items: center;
                color:#783DBE;
                text-decoration:none;
                border:2px solid #783DBE;
                border-radius:12px;
                margin-right:16px;
    
                &:hover {
                    background-color:#F0D3FF;
                }

                &::last-child {
                    margin-right:0
                }
    
                .whatsapp {
                    margin-right:4px;
                }            
            }

        }

        .client-login-mobile-button {
            width:44px;
            height:44px;
            display:flex;
            align-items:center;
            justify-content:center;

            &.show {
                display:flex !important;
            }
    
            &.hide {
                display:none;
            }

            img {
                width:32px;
                height:32px;
            }

            @media only screen and (min-width:992px) {
                display:none;
            }
        }
    }

    .navbar-logo-wrap {

        @media only screen and (min-width:768px) {
            display:none !important;
        }
    }
}

@media only screen and (max-width:767px) {

    .navbar-brand {
        display:flex;
        justify-content:center;
        align-items:center;

        &.show {
            display:flex !important;
        }

        &.hide {
            display:none;
        }
    }
    .navbar-collapse {
        position: fixed;
        top: 50px; /* adjust to height of navbar */
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #FFFFFF 0%, #F4F0FB 60.76%, #ffffff 80.18% #FFFFFF 100%);
    }
    
    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }
    
    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }
    
    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 300ms ease-in-out;
    }

    .nav-item {
        margin:0 20px;
        a {
            padding:32px 0;
        }
    }
    
    .navbar-logo-wrap {
        position:absolute;
        bottom:10rem;
        right:2rem;
    }

}
