.site-footer {
    background-color:#783DBE;
    color:#fff;
    
    .container-fluid {
        max-width:1500px !important;
    }

    .footer-home-link { }

    .address-column {

        @media only screen and (min-width:768px) {
            display:flex;
            justify-content:flex-end;
        }

    }

    .address-wrap {
        display: flex;
        flex-direction:column;
        justify-self: flex-end;
        max-width:275px;
    }
    
}